{% extends 'base.html.twig' %}

{% block title %}findyourhome{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1><center>{{ message }} </h1>
    <center>
    <a href="http://findyourhome.com/login">~ Se connecter</a>  <a href="http://findyourhome.com/register"> ~ Créer un compte</a>
    </center>
</div>

<div>
    <ul>
    {% for appartement in appartements  %}
        <br>
        <li>
            {{ appartement.typeappart }} {{ appartement.prixLoc }} {{ appartement.codePostal }} {{ appartement.ville}} {{ appartement.arrondisseDem.arrondisseDem }} <br>
            <a href="{{ path('appartement_show', {'numappart': appartement.numappart}) }}">Voir description</a><br>
        </li>
        <br>
        <img src="{{ asset('photos/' ~ appartement.photo) }}"/>
        <br>
    {% endfor %}
    </ul>
</div>
{% endblock %}
