<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    {% block stylesheets %}{% endblock %}

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark"><!--dark bg-dark : color of the top-->
    <a class="navbar-brand" href="{{ path('app_login') }}">Accueil</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
    {% if app.user %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('utilisateur_edit', { 'id': app.user.id}) }}">Profil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/utilisateur/{{ app.user.id }}">Faire une demande de logement</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('appartement_new') }}">Déposer une annonce</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Listes des utilisateurs</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{ path('utilisateur_list') }}">Tous les utilisateurs</a>
                <a class="dropdown-item" href="{{ path('client_list') }}">Clients</a>
                <a class="dropdown-item" href="{{ path('locataire_list') }}">Locataires</a>
                <a class="dropdown-item" href="{{ path('proprietaire_list') }}">Proprietaires</a>
                <!--<div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>-->
            </div>
        </li>
        {% if is_granted('ROLE_CLIENT') or is_granted('ROLE_LOCATAIRE')%}
            <li class="nav-item">
                <a class="nav-link" href="{{path('demandes_appts', {'id': app.user.id}) }}">Ma liste de demandes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{path('visites_liste', {'id': app.user.id}) }}">Ma liste de visites</a>
            </li>
            {% elseif is_granted('ROLE_PROPRIETAIRE') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('liste_appartements', {'id': app.user.id}) }}">Ma liste d'appartements</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('visites_demande', {'id': app.user.id}) }}">Liste de visites demandées</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('cotisation') }}">Liste de cotisations</a>
                </li>
        {% endif %}
            <!--<li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>-->
        </ul>
        <!--<form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>-->
    </div>
    {% endif %}
</nav>
{% block body %}{% endblock %}
{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
{% endblock %}
</body>
</html>
